# Workbook for testing functions

In [1]:
import pandas as pd
import numpy as np
import os

import acquire
import prepare

In [2]:
df = acquire.get_equiprail()
df.shape

(22402, 146)

In [3]:
df.head()

,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,IMO3,...,RCL,Latitude,Longitud,SIGNAL,MOPERA,ADJUNCT1,ADJUNCT2,ADJUNCT3,SUBDIV,Unnamed: 145
0,12,5,BNSF,GC0512102,NaN,NaN,NaN,NaN,12,5,...,0.0,29.755900,-95.293100,1,1,G,NaN,NaN,NORTH SHORE,NaN
1,12,5,BNSF,GC0512105,NaN,NaN,NaN,NaN,12,5,...,0.0,29.500571,-95.597089,2,5,Z,NaN,NaN,GALVESTON,NaN
2,12,2,NS,98074,12.0,2.0,CSX,100906,12,2,...,NaN,34.612981,-86.988133,1,1,B,NaN,NaN,ALABAMA,NaN
3,12,5,BNSF,GC0512106,NaN,NaN,NaN,NaN,12,5,...,0.0,31.446576,-96.207606,2,5,Z,NaN,NaN,HOUSTON,NaN
4,12,5,BNSF,GC0512112,NaN,NaN,NaN,NaN,12,5,...,0.0,29.772155,-95.384013,2,5,Z,NaN,NaN,HOUSTON,NaN

In [ ]:
df.INCDTNO.nunique()

In [4]:
df = prepare.prep_equip_df(df)
df.shape

(15188, 39)

In [5]:
df.head()

,railroad,type,state,temp,visiblty,weather,trnspd,trndir,tons,typeq,...,typrr,rrempkld,rrempinj,passkld,passinj,passtrn,latitude,longitud,signal,date
incdtno,,,,,,,,,,,,,,,,,,,,,
GC0512102,BNSF,1,48,84,2,1,10,2.0,9811,1,...,1,0,0,0,0,N,29.7559,-95.2931,1,2012-05-05 08:00:00
GC0512105,BNSF,1,48,70,4,3,5,2.0,17157,1,...,1,0,0,0,0,N,29.500571,-95.597089,2,2012-05-11 02:25:00
GC0512106,BNSF,1,48,84,2,1,3,2.0,17304,1,...,1,0,0,0,0,N,31.446576,-96.20760600000001,2,2012-05-16 15:40:00
GC0512112,BNSF,1,48,70,4,1,5,3.0,14212,1,...,1,0,0,0,0,N,29.772154999999998,-95.384013,2,2012-05-31 03:36:00
GC0912118,BNSF,1,48,78,2,3,8,1.0,5918,1,...,1,0,0,0,0,N,29.606296999999998,-95.300054,2,2012-09-29 14:10:00

In [ ]:
#drop null values
df = df.dropna(axis=0)

In [6]:
df.shape

(15188, 39)

In [8]:
df.index.nunique()

15188

In [ ]:
df.incdtno.value_counts()

In [ ]:
inc_subset = df.loc[df.incdtno == '133453']
inc_subset

In [ ]:
inc_subset.describe().T

**Takeaways:**
- All 9 entries for incident id 133453 appear to be the same

- For iteration 1, we should drop all the observations where the value count of the incident > 1

In [ ]:
#Convert lat and long to strings
df.latitude = df.latitude.astype(str)
df.longitud = df.longitud.astype(str)

In [ ]:
df.info()

In [ ]:
inc_df = df.groupby('incdtno').filter(lambda x : (x)>1)
inc_df.shape

In [ ]:
inc_df.incdtno.nunique()

In [ ]:
inc_df = df.drop(df.iloc[df.incdtno.value_counts() > 1], axis=0)
inc_df.shape

In [ ]:
#Filters out observations with unique incident numbers 
counts = df['incdtno'].value_counts()

df = df[~df['incdtno'].isin(counts[counts > 1].index)]

In [ ]:
df.incdtno.nunique()

In [ ]:
df.shape