# Justin's Scratchpad for Data Preparation

In [2]:
import pandas as pd

import os
import sys
import acquire

In [3]:
df = acquire.get_equiprail()
df.head()

,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,IMO3,...,RCL,Latitude,Longitud,SIGNAL,MOPERA,ADJUNCT1,ADJUNCT2,ADJUNCT3,SUBDIV,Unnamed: 145
0,12,5,BNSF,GC0512102,NaN,NaN,NaN,NaN,12,5,...,0.0,29.755900,-95.293100,1,1,G,NaN,NaN,NORTH SHORE,NaN
1,12,5,BNSF,GC0512105,NaN,NaN,NaN,NaN,12,5,...,0.0,29.500571,-95.597089,2,5,Z,NaN,NaN,GALVESTON,NaN
2,12,2,NS,98074,12.0,2.0,CSX,100906,12,2,...,NaN,34.612981,-86.988133,1,1,B,NaN,NaN,ALABAMA,NaN
3,12,5,BNSF,GC0512106,NaN,NaN,NaN,NaN,12,5,...,0.0,31.446576,-96.207606,2,5,Z,NaN,NaN,HOUSTON,NaN
4,12,5,BNSF,GC0512112,NaN,NaN,NaN,NaN,12,5,...,0.0,29.772155,-95.384013,2,5,Z,NaN,NaN,HOUSTON,NaN

In [4]:
total_damages = df.ACCDMG.sum()
print(f'The total cost of damages from US Equipment Rail Accidents for the last 8 years is ${total_damages}')

The total cost of damages from US Equipment Rail Accidents for the last 8 years is $3523216853

In [5]:
total_injuries = df.TOTINJ.sum()
print(f'The total number of injuries from US Equipment Rail Accidents for the last 8 years is {total_injuries}')

The total number of injuries from US Equipment Rail Accidents for the last 8 years is 4460

In [6]:
total_deaths = df.TOTKLD.sum()
print(f'The total number of deaths from US Equipment Rail Accidents for the last 8 years is {total_deaths}')

The total number of deaths from US Equipment Rail Accidents for the last 8 years is 432

In [ ]:
#'IYR','IMO','RAILROAD', 'RR2', 'RR3','YEAR','MONTH','DAY','TIMEHR','TIMEMIN',
#'AMPM','TYPE','CARS','CARSDMG','CARSHZD','EVACUATE', 'STATION', 'STATE','TEMP','VISIBLTY','WEATHER', 'TRNSPD',

In [ ]:
# Drop columns based on threshold limit
#threshold = len(df) * 0.80
#df_thresh=df.dropna(axis=1, thresh=threshold)
# View columns in the dataset
#df_thresh.shape

In [ ]:
#df = df.dropna(axis=1, thresh=threshold)

In [ ]:
#df = df.dropna(axis=0)

In [ ]:
#df = df[['IYR','IMO','RAILROAD','YEAR','MONTH','DAY','TIMEHR','TIMEMIN','AMPM','TYPE','STATE','TEMP','VISIBLTY','WEATHER',
'TRNSPD','TYPSPD','TRNNBR','TRNDIR','TONS','TYPEQ','TRKNAME','TYPTRK','HEADEND1','LOADF1','LOADP1','EMPTYF1',
'EMPTYP1','EQPDMG','TRKDMG','CAUSE','CASKLDRR','CASINJRR','CASKLD','CASINJ','HIGHSPD','ACCDMG','STCNTY','TOTINJ',
'TOTKLD','ENGRS','FIREMEN','CONDUCTR','BRAKEMEN','REGION','TYPRR','NARRLEN','RREMPKLD','RREMPINJ','PASSKLD','PASSINJ',
'OTHERKLD','OTHERINJ','COUNTY','CNTYCD','PASSTRN','SSB1','NARR1','NARR2','Latitude','Longitud','SIGNAL']]
#df.shape

In [ ]:
#df.head()

In [ ]:
df = prepare.reduce_equip_cols

In [ ]:
#df['date'] = pd.to_datetime(df.MONTH.astype(str)+' '+df.DAY.astype(str)+' '+df.YEAR.astype(str)+' '+df.TIMEHR.astype(str)+':'+df.TIMEMIN.astype(str)+' '+df.AMPM.astype(str))

In [ ]:
def concat_date_time(df):
    '''
    This function takes in the equip rail data frame and:
        - Concatenates the date time values as a datetime object
        - Drops the original columns for date and time
        
    It returns a single dataframe
    
    '''
    
    #Concatenate datetime columns
    df['date'] = pd.to_datetime(df.MONTH.astype(str)+' '+df.DAY.astype(str)+' '+df.YEAR.astype(str)+' '+df.TIMEHR.astype(str)+':'+df.TIMEMIN.astype(str)+' '+df.AMPM.astype(str))
    
    #Drop original date time columns
    df.drop(columns={'YEAR', 'MONTH', 'DAY', 'TIMEHR', 'TIMEMIN', 'AMPM'}, inplace=True)
    
    return df

In [ ]:
df = concat_date_time(df)
df.shape

---

In [7]:
df = acquire.get_hwyrail()
df.head()

,AMTRAK,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,...,NARR1,NARR2,NARR3,NARR4,NARR5,SUBDIV,ROADCOND,VIDEOT,VIDEOU,Unnamed: 103
0,NaN,12,3,UP,0312RS009,NaN,NaN,,,12.0,...,HIEHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,NaN,NaN,NaN,NaN,WOODBRIDGE,B,1,2,NaN
1,NaN,12,3,UP,0312RS025,NaN,NaN,,,12.0,...,HIGHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,D LEFT THE SCENE.,NaN,NaN,NaN,FRESNO SUB,A,1,2,NaN
2,NaN,12,10,BNSF,CA1012201,NaN,NaN,,,12.0,...,DRIVER AGE UNKNOW. 41: ABANDONED VEHICLE,NaN,NaN,NaN,NaN,SAN BERNARDINO,A,1,2,NaN
3,NaN,12,10,BNSF,CA1012202,NaN,NaN,,,12.0,...,12/18/12 PER CONTRA COSTA COUNTY CORONERS REPO...,NaN,NaN,NaN,NaN,STOCKTON,A,1,1,NaN
4,NaN,12,7,BNSF,CA0712201,NaN,NaN,,,12.0,...,NaN,NaN,NaN,NaN,NaN,STOCKTON,A,1,2,NaN

In [10]:
total_damages = df.VEHDMG.sum()
print(f'The total cost of vehical damages from US Equipment Rail Accidents for the last 8 years is ${total_damages}')

The total cost of vehical damages from US Equipment Rail Accidents for the last 8 years is $138250253.0

In [11]:
total_injuries = df.TOTINJ.sum()
print(f'The total number of injuries from US Equipment Rail Accidents for the last 8 years is {total_injuries}')

The total number of injuries from US Equipment Rail Accidents for the last 8 years is 7996

In [12]:
total_deaths = df.TOTKLD.sum()
print(f'The total number of deaths from US Equipment Rail Accidents for the last 8 years is {total_deaths}')

The total number of deaths from US Equipment Rail Accidents for the last 8 years is 2604