In [1]:
import pandas as pd
import prepare
from prepare import prep_equip_df
import explore

In [2]:
def get_hwyrail():
    df = pd.read_csv('hwy_rail_accidents_2012.csv', index_col=False)
    df1 = pd.read_csv('hwy_rail_accidents_2013.csv', index_col=False)  
    df2 = pd.read_csv('hwy_rail_accidents_2014.csv', index_col=False)  
    df3 = pd.read_csv('hwy_rail_accidents_2015.csv', index_col=False)  
    df4 = pd.read_csv('hwy_rail_accidents_2016.csv', index_col=False)  
    df5 = pd.read_csv('hwy_rail_accidents_2017.csv', index_col=False)  
    df6 = pd.read_csv('hwy_rail_accidents_2018.csv', index_col=False)  
    df7 = pd.read_csv('hwy_rail_accidents_2019.csv', index_col=False)  
    df8 = pd.read_csv('hwy_rail_accidents_2020.csv', index_col=False) 
    big_df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7, df8])
    return big_df

In [3]:
hwy_df = get_hwyrail()
hwy_df

,AMTRAK,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,...,NARR1,NARR2,NARR3,NARR4,NARR5,SUBDIV,ROADCOND,VIDEOT,VIDEOU,Unnamed: 103
0,NaN,12,3,UP,0312RS009,NaN,NaN,,,12.0,...,HIEHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,NaN,NaN,NaN,NaN,WOODBRIDGE,B,1,2,NaN
1,NaN,12,3,UP,0312RS025,NaN,NaN,,,12.0,...,HIGHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,D LEFT THE SCENE.,NaN,NaN,NaN,FRESNO SUB,A,1,2,NaN
2,NaN,12,10,BNSF,CA1012201,NaN,NaN,,,12.0,...,DRIVER AGE UNKNOW. 41: ABANDONED VEHICLE,NaN,NaN,NaN,NaN,SAN BERNARDINO,A,1,2,NaN
3,NaN,12,10,BNSF,CA1012202,NaN,NaN,,,12.0,...,12/18/12 PER CONTRA COSTA COUNTY CORONERS REPO...,NaN,NaN,NaN,NaN,STOCKTON,A,1,1,NaN
4,NaN,12,7,BNSF,CA0712201,NaN,NaN,,,12.0,...,NaN,NaN,NaN,NaN,NaN,STOCKTON,A,1,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,NaN,20,2,SFRV,2132020,NaN,NaN,,,20.0,...,TRAIN P645 WAS TRAVELLING SOUTHBOUND AND STRUC...,ALLY INJURED; AGE IS CURRENTLY UNKNOWN.,NaN,NaN,NaN,SOUTHFLRAILCORRIDOR,A,2,2,NaN
1887,NaN,20,1,SFRV,1052020,NaN,NaN,,,20.0,...,TWO MALES ON A BICYCLE RAN UNDER CROSSING GATE...,HE BIKE WAS HIT AND KILLED WHILE THE OTHER ONE...,PORT IS PENDING SO AGE OF DECEASED IS STILL UN...,NaN,NaN,SOUTHFLRAILCORRIDOR,A,1,1,NaN
1888,NaN,20,1,SFRV,1092020,NaN,NaN,,,20.0,...,TRAIN P647 STRUCK A VEHICLE THAT STOPPED ON TH...,CT. HE WAS TRAVELING EAST IN THE WESTBOUND TRA...,NaN,NaN,NaN,SOUTHFLRAILCORRIDOR,A,1,1,NaN
1889,NaN,20,1,SFRV,1172020,NaN,NaN,,,20.0,...,TRAIN P628 STRUCK A VEHICLE THAT STOPPED ON TH...,UNINJURED.,NaN,NaN,NaN,SOUTHFLRAILCORRIDOR,A,2,2,NaN
1890,NaN,20,11,SFRV,11222020,NaN,NaN,,,20.0,...,TRAIN P686 STRUCK AN EMPTY VEHICLE AT NW 27TH ...,NaN,NaN,NaN,NaN,SOUTHFLRAILCORRIDOR,A,2,2,NaN

In [4]:
hwy_df.describe().T

,count,mean,std,min,25%,50%,75%,max
IYR,18995.0,15.995051,2.548730,12.0,14.0,16.0,18.0,20.0
IMO,18995.0,6.598052,3.531982,1.0,3.0,7.0,10.0,12.0
IYR2,19.0,17.947368,1.682382,14.0,17.0,18.0,19.5,20.0
IMO2,19.0,7.157895,4.003653,1.0,3.0,8.0,11.0,12.0
IYR3,18879.0,16.006038,2.550739,12.0,14.0,16.0,18.0,20.0
IMO3,18879.0,6.596801,3.531095,1.0,3.0,7.0,10.0,12.0
DUMMY1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASINJRR,18995.0,0.417531,1.278679,0.0,0.0,0.0,1.0,87.0
YEAR,18995.0,15.995051,2.548730,12.0,14.0,16.0,18.0,20.0
MONTH,18995.0,6.598052,3.531982,1.0,3.0,7.0,10.0,12.0
DAY,18995.0,15.637378,8.746955,1.0,8.0,15.0,23.0,31.0
TIMEHR,18995.0,6.570571,3.480055,1.0,3.0,7.0,10.0,12.0
TIMEMIN,18995.0,27.718926,17.391076,0.0,14.0,30.0,44.0,59.0
STATE,18995.0,27.633746,16.025838,1.0,13.0,26.0,42.0,56.0
REGION,18995.0,4.323401,1.798651,1.0,3.0,4.0,5.0,8.0
DUMMY2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VEHSPD,17562.0,8.132673,11.630158,0.0,0.0,5.0,10.0,120.0
RRCAR,18995.0,3.006212,11.537463,0.0,1.0,1.0,1.0,282.0
TYPACC,18995.0,1.179574,0.383842,1.0,1.0,1.0,1.0,2.0
TEMP,18995.0,60.669176,21.549978,-25.0,45.0,65.0,77.0,112.0
VISIBLTY,18995.0,2.608055,0.988801,1.0,2.0,2.0,4.0,4.0
NBRLOCOS,18995.0,2.200158,3.110551,0.0,1.0,2.0,3.0,392.0
NBRCARS,18995.0,49.378415,45.895495,0.0,7.0,37.0,86.0,353.0
TRNSPD,18623.0,30.445310,19.013601,1.0,13.0,30.0,44.0,110.0
VIEW,18995.0,7.848171,0.878957,1.0,8.0,8.0,8.0,8.0
VEHDMG,18230.0,7583.667197,21377.591188,0.0,1000.0,3800.0,7500.0,1000000.0
TOTKLD,18995.0,0.137089,0.386340,0.0,0.0,0.0,0.0,6.0
TOTINJ,18995.0,0.420953,1.279060,0.0,0.0,0.0,1.0,87.0
TOTOCC,18995.0,0.972677,0.973450,0.0,1.0,1.0,1.0,50.0
JOINTCD,18995.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
DUMMY3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CASKLDRR,18995.0,0.117978,0.367310,0.0,0.0,0.0,0.0,6.0
NARRLEN,18995.0,147.795683,118.088248,0.0,60.0,116.0,199.0,500.0
DUMMY5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEAR4,18995.0,2015.995051,2.548730,2012.0,2014.0,2016.0,2018.0,2020.0
CNTYCD,18995.0,99.898658,98.409941,1.0,35.0,79.0,125.0,840.0
PLEONTRN,18995.0,19.919610,70.488553,0.0,2.0,2.0,3.0,1300.0
USERKLD,18995.0,0.136615,0.383843,0.0,0.0,0.0,0.0,5.0
USERINJ,18995.0,0.333140,0.719832,0.0,0.0,0.0,1.0,41.0
RREMPKLD,18995.0,0.000211,0.014510,0.0,0.0,0.0,0.0,1.0
RREMPINJ,18995.0,0.034430,0.265559,0.0,0.0,0.0,0.0,10.0
PASSKLD,18995.0,0.000263,0.036279,0.0,0.0,0.0,0.0,5.0
PASSINJ,18995.0,0.053382,0.936262,0.0,0.0,0.0,0.0,78.0
VIDEOT,18995.0,1.457384,0.498194,1.0,1.0,1.0,2.0,2.0
VIDEOU,18995.0,1.815741,0.387705,1.0,2.0,2.0,2.0,2.0
Unnamed: 103,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
hwy_df = prepare.prep_hwy_df(hwy_df)
hwy_df

,railroad_company,station,county,state,region,city,vehicle_speed,vehicle_type,vehicle_direction,position,...,driver_gender,train_occupants,user_killed,user_injured,rail_killed,rail_injured,train_pass_killed,train_pass_injured,road_condtions,date
incdtno,,,,,,,,,,,,,,,,,,,,,
0312RS009,UP,WOODBRIDGE,SAN JOAQUIN,6,7,LODI,0.0,A,4,2,...,1,3,0,0,0,0,0,0,B,2012-03-16 09:15:00
0312RS025,UP,ACAMPO,SAN JOAQUIN,6,7,,0.0,A,4,2,...,1,2,0,0,0,0,0,0,A,2012-03-30 21:35:00
CA1012201,BNSF,LOS NIETOS,LOS ANGELES,6,7,SANTA FE SPRINGS,0.0,A,1,2,...,1,3,0,0,0,0,0,0,A,2012-10-07 20:25:00
CA0712201,BNSF,FRESNO,FRESNO,6,7,FRESNO,0.0,A,1,2,...,2,2,0,1,0,0,0,0,A,2012-07-28 20:55:00
0612RS011,UP,BAKERSFIELD,KERN,6,7,,50.0,C,4,3,...,1,3,0,0,0,0,0,0,A,2012-06-18 15:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137378,NS,BALTIMORE,BALTIMORE,24,2,BALTIMORE,2.0,A,1,3,...,1,2,0,0,0,0,0,0,A,2020-03-04 06:32:00
189236,CSX,INWOOD ST,PRINCE GEORGE'S,24,2,HYATTSVILLE,10.0,C,4,3,...,1,2,0,0,0,0,0,0,A,2020-03-21 10:15:00
188716,CSX,MONTEVIDEO ROAD,HOWARD,24,2,ELKRIDGE,15.0,J,4,3,...,1,3,0,0,0,0,0,0,A,2020-02-27 09:30:00
139845,NS,SUWANNEE,HAMILTON,12,3,N/A,5.0,A,3,3,...,1,2,0,0,0,0,0,0,A,2020-11-27 17:00:00
193825,CSX,OXFORD,SUMTER,12,3,OXFORD,0.0,A,4,1,...,2,2,0,0,0,0,0,0,A,2020-11-15 17:28:00

In [6]:
hwy_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12181 entries, 0312RS009 to 193825
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   railroad_company    12181 non-null  object
 1   station             12181 non-null  object
 2   county              12181 non-null  object
 3   state               12181 non-null  int64
 4   region              12181 non-null  int64
 5   city                12181 non-null  object
 6   vehicle_speed       12181 non-null  float64
 7   vehicle_type        12181 non-null  object
 8   vehicle_direction   12181 non-null  object
 9   position            12181 non-null  object
 10  accident_type       12181 non-null  int64
 11  hazmat_entity       12181 non-null  object
 12  temp                12181 non-null  int64
 13  visibility          12181 non-null  int64
 14  weather             12181 non-null  object
 15  train_type          12181 non-null  object
 16  track_type          12181 non-null  object
 17  front_engines       12181 non-null  int64
 18  railcar_quantity    12181 non-null  int64
 19  train_speed         12181 non-null  float64
 20  train_direction     12181 non-null  object
 21  warning_location    12181 non-null  object
 22  warning_signal      12181 non-null  object
 23  lights              12181 non-null  object
 24  standveh            12181 non-null  object
 25  other_train         12181 non-null  object
 26  motorist_action     12181 non-null  object
 27  view_obstruction    12181 non-null  int64
 28  vehicle_damage      12181 non-null  float64
 29  driver_fate         12181 non-null  object
 30  vehicle_occupied    12181 non-null  object
 31  total_killed        12181 non-null  int64
 32  total_injured       12181 non-null  int64
 33  vehicle_occupants   12181 non-null  int64
 34  ispublic_crossing   12181 non-null  object
 35  fips                12181 non-null  int64
 36  whistle_ban         12181 non-null  object
 37  driver_age          12181 non-null  object
 38  driver_gender       12181 non-null  object
 39  train_occupants     12181 non-null  int64
 40  user_killed         12181 non-null  int64
 41  user_injured        12181 non-null  int64
 42  rail_killed         12181 non-null  int64
 43  rail_injured        12181 non-null  int64
 44  train_pass_killed   12181 non-null  int64
 45  train_pass_injured  12181 non-null  int64
 46  road_condtions      12181 non-null  object
 47  date                12181 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(19), object(25)
memory usage: 4.6+ MB

In [7]:
def get_equiprail():
    
    '''This function acquires the equipment rail accident data, concats all of the dataframes into one'''
    
    
    df = pd.read_csv('rail_equip_accidents_2012.csv', index_col=False)
    df1 = pd.read_csv('rail_equip_accidents_2013.csv', index_col=False)  
    df2 = pd.read_csv('rail_equip_accidents_2014.csv', index_col=False)  
    df3 = pd.read_csv('rail_equip_accidents_2015.csv', index_col=False)  
    df4 = pd.read_csv('rail_equip_accidents_2016.csv', index_col=False)  
    df5 = pd.read_csv('rail_equip_accidents_2017.csv', index_col=False)  
    df6 = pd.read_csv('rail_equip_accidents_2018.csv', index_col=False)  
    df7 = pd.read_csv('rail_equip_accidents_2019.csv', index_col=False)  
    df8 = pd.read_csv('rail_equip_accidents_2020.csv', index_col=False) 
    
    equip_df = pd.concat([df, df1, df2, df3, df4, df5, df6, df7, df8])
    
    return equip_df

In [8]:
equip_df = get_equiprail()

In [9]:
equip_df

,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,IMO3,...,RCL,Latitude,Longitud,SIGNAL,MOPERA,ADJUNCT1,ADJUNCT2,ADJUNCT3,SUBDIV,Unnamed: 145
0,12,5,BNSF,GC0512102,NaN,NaN,NaN,NaN,12,5,...,0.0,29.755900,-95.293100,1,1,G,NaN,NaN,NORTH SHORE,NaN
1,12,5,BNSF,GC0512105,NaN,NaN,NaN,NaN,12,5,...,0.0,29.500571,-95.597089,2,5,Z,NaN,NaN,GALVESTON,NaN
2,12,2,NS,98074,12.0,2.0,CSX,100906,12,2,...,NaN,34.612981,-86.988133,1,1,B,NaN,NaN,ALABAMA,NaN
3,12,5,BNSF,GC0512106,NaN,NaN,NaN,NaN,12,5,...,0.0,31.446576,-96.207606,2,5,Z,NaN,NaN,HOUSTON,NaN
4,12,5,BNSF,GC0512112,NaN,NaN,NaN,NaN,12,5,...,0.0,29.772155,-95.384013,2,5,Z,NaN,NaN,HOUSTON,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,20,2,NS,137017,NaN,NaN,NaN,NaN,20,2,...,0.0,37.271098,-79.997944,2,5,K,NaN,NaN,POCAHONTAS,NaN
2136,20,5,BNSF,PR0520107,NaN,NaN,NaN,NaN,20,5,...,0.0,44.216404,-105.293504,1,1,Q,NaN,NaN,ORIN,NaN
2137,20,5,NECR,NEC420520D,NaN,NaN,NaN,NaN,20,5,...,0.0,44.481200,-73.101600,2,2,NaN,NaN,NaN,ROXBURY,NaN
2138,20,1,CSX,188190,NaN,NaN,NaN,NaN,20,1,...,3.0,31.213524,-82.353588,2,5,NaN,NaN,NaN,THOMASVILLE,NaN
2139,20,1,ATK,162814,NaN,NaN,NaN,NaN,20,1,...,0.0,47.943115,-122.308419,1,1,Q,NaN,NaN,SCENIC,NaN

In [10]:
equip_df = prep_equip_df(equip_df)
equip_df

,railroad_company,accident_type,state,temp,visibility,weather,train_speed,train_direction,train_weight,train_type,...,total_damage,engineers_onduty,conductors_onduty,brakemen_onduty,region,typrr,lat,long,signal_type,date
incdtno,,,,,,,,,,,,,,,,,,,,,
GC0512102,BNSF,1,48,84,2,1,10,2.0,9811,1,...,25500,1.0,1.0,0.0,5,1,29.7559,-95.2931,1,2012-05-05 08:00:00
GC0512105,BNSF,1,48,70,4,3,5,2.0,17157,1,...,10940,1.0,1.0,0.0,5,1,29.500571,-95.597089,2,2012-05-11 02:25:00
GC0512106,BNSF,1,48,84,2,1,3,2.0,17304,1,...,10500,1.0,1.0,0.0,5,1,31.446576,-96.207606,2,2012-05-16 15:40:00
GC0512112,BNSF,1,48,70,4,1,5,3.0,14212,1,...,11664,1.0,1.0,0.0,5,1,29.772155,-95.384013,2,2012-05-31 03:36:00
GC0912118,BNSF,1,48,78,2,3,8,1.0,5918,1,...,255000,1.0,1.0,0.0,5,1,29.606297,-95.300054,2,2012-09-29 14:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194579,CSX,9,51,38,2,3,3,3.0,0,7,...,12500,1.0,1.0,0.0,2,1,37.30244,-77.284923,2,2020-12-20 09:45:00
140029,NS,1,51,72,4,2,6,3.0,14242,1,...,175547,1.0,1.0,0.0,2,1,37.273201,-79.939819,1,2020-12-16 02:16:00
137017,NS,1,51,39,4,2,6,3.0,0,7,...,24683,1.0,1.0,0.0,2,1,37.271098,-79.997944,2,2020-02-01 23:20:00
188190,CSX,1,13,55,2,2,7,3.0,0,7,...,72199,1.0,1.0,0.0,3,1,31.213524,-82.353588,2,2020-01-31 09:56:00
162814,ATK,13,53,43,3,3,44,1.0,0,2,...,21410,1.0,1.0,1.0,8,6,47.943115,-122.308419,1,2020-01-10 17:28:00

In [11]:
equip_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11504 entries, GC0512102 to 162814
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   railroad_company   11504 non-null  object
 1   accident_type      11504 non-null  int64
 2   state              11504 non-null  int64
 3   temp               11504 non-null  int64
 4   visibility         11504 non-null  int64
 5   weather            11504 non-null  int64
 6   train_speed        11504 non-null  int64
 7   train_direction    11504 non-null  float64
 8   train_weight       11504 non-null  int64
 9   train_type         11504 non-null  object
 10  track_type         11504 non-null  int64
 11  front_engines      11504 non-null  int64
 12  loadfrght_cars     11504 non-null  int64
 13  loadpass_cars      11504 non-null  int64
 14  emptyfrght_cars    11504 non-null  int64
 15  emptypass_cars     11504 non-null  int64
 16  equip_damage       11504 non-null  int64
 17  track_damage       11504 non-null  int64
 18  cause              11504 non-null  object
 19  total_killed       11504 non-null  int64
 20  total_injured      11504 non-null  int64
 21  max_speed          11504 non-null  int64
 22  total_damage       11504 non-null  int64
 23  engineers_onduty   11504 non-null  float64
 24  conductors_onduty  11504 non-null  float64
 25  brakemen_onduty    11504 non-null  float64
 26  region             11504 non-null  int64
 27  typrr              11504 non-null  object
 28  lat                11504 non-null  object
 29  long               11504 non-null  object
 30  signal_type        11504 non-null  int64
 31  date               11504 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(21), object(6)
memory usage: 2.9+ MB

In [12]:
equip_df['railroad_company'].nunique()

5

In [13]:
train, validate, test = explore.train_validate_test_split(equip_df, 'railroad_company', seed=123)

In [14]:
train.head()

,railroad_company,accident_type,state,temp,visibility,weather,train_speed,train_direction,train_weight,train_type,...,total_damage,engineers_onduty,conductors_onduty,brakemen_onduty,region,typrr,lat,long,signal_type,date
incdtno,,,,,,,,,,,,,,,,,,,,,
124919,NS,1,36,48,4,2,2,4.0,0,7,...,21758,1.0,1.0,0.0,1,1.0,42.882771,-78.819282,1,2017-05-03 00:55:00
128409,NS,1,29,8,4,6,10,4.0,0,1,...,22677,1.0,1.0,0.0,6,1.0,39.421994,-92.437622,2,2018-02-06 00:45:00
SW0613108,BNSF,1,35,65,4,1,7,3.0,6893,1,...,488630,1.0,1.0,0.0,5,1,34.367942,-106.857886,2,2013-06-22 02:30:00
0817TC001,UP,3,19,65,4,1,4,3.0,5369,1,...,16357,1.0,1.0,0.0,6,1.0,42.028053,-93.57995,1,2017-08-01 01:22:00
0116LV004,UP,7,22,47,4,1,49,2.0,6053,1,...,59797,1.0,1.0,0.0,5,1,30.787575,-92.677632,1,2016-01-09 21:19:00

In [15]:
train.count(), validate.count(), test.count()

(railroad_company     6442
 accident_type        6442
 state                6442
 temp                 6442
 visibility           6442
 weather              6442
 train_speed          6442
 train_direction      6442
 train_weight         6442
 train_type           6442
 track_type           6442
 front_engines        6442
 loadfrght_cars       6442
 loadpass_cars        6442
 emptyfrght_cars      6442
 emptypass_cars       6442
 equip_damage         6442
 track_damage         6442
 cause                6442
 total_killed         6442
 total_injured        6442
 max_speed            6442
 total_damage         6442
 engineers_onduty     6442
 conductors_onduty    6442
 brakemen_onduty      6442
 region               6442
 typrr                6442
 lat                  6442
 long                 6442
 signal_type          6442
 date                 6442
 dtype: int64, railroad_company     2761
 accident_type        2761
 state                2761
 temp                 2761
 visibility           2761
 weather              2761
 train_speed          2761
 train_direction      2761
 train_weight         2761
 train_type           2761
 track_type           2761
 front_engines        2761
 loadfrght_cars       2761
 loadpass_cars        2761
 emptyfrght_cars      2761
 emptypass_cars       2761
 equip_damage         2761
 track_damage         2761
 cause                2761
 total_killed         2761
 total_injured        2761
 max_speed            2761
 total_damage         2761
 engineers_onduty     2761
 conductors_onduty    2761
 brakemen_onduty      2761
 region               2761
 typrr                2761
 lat                  2761
 long                 2761
 signal_type          2761
 date                 2761
 dtype: int64, railroad_company     2301
 accident_type        2301
 state                2301
 temp                 2301
 visibility           2301
 weather              2301
 train_speed          2301
 train_direction      2301
 train_weight         2301
 train_type           2301
 track_type           2301
 front_engines        2301
 loadfrght_cars       2301
 loadpass_cars        2301
 emptyfrght_cars      2301
 emptypass_cars       2301
 equip_damage         2301
 track_damage         2301
 cause                2301
 total_killed         2301
 total_injured        2301
 max_speed            2301
 total_damage         2301
 engineers_onduty     2301
 conductors_onduty    2301
 brakemen_onduty      2301
 region               2301
 typrr                2301
 lat                  2301
 long                 2301
 signal_type          2301
 date                 2301
 dtype: int64)

In [16]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
accident_type,6442.0,3.542844,4.210843,1.0,1.0,1.0,7.00,13.0
state,6442.0,29.592207,16.211696,1.0,17.0,30.0,47.00,56.0
temp,6442.0,58.856877,22.181626,-36.0,42.0,61.0,75.00,110.0
visibility,6442.0,2.723844,1.061947,1.0,2.0,2.0,4.00,4.0
weather,6442.0,1.521267,0.943324,1.0,1.0,1.0,2.00,6.0
train_speed,6442.0,15.591897,20.174284,0.0,4.0,7.0,19.75,545.0
train_direction,6442.0,2.669047,1.102312,1.0,2.0,3.0,4.00,4.0
train_weight,6442.0,4239.179603,5282.094969,0.0,0.0,2386.0,6629.50,84414.0
track_type,6442.0,1.844924,0.849676,1.0,1.0,2.0,2.00,4.0
front_engines,6442.0,2.205681,1.177367,0.0,2.0,2.0,3.00,9.0
loadfrght_cars,6442.0,34.788575,39.503718,0.0,1.0,20.0,58.00,230.0
loadpass_cars,6442.0,0.354083,1.837411,0.0,0.0,0.0,0.00,49.0
emptyfrght_cars,6442.0,20.000000,31.613413,0.0,0.0,3.0,28.00,303.0
emptypass_cars,6442.0,0.047811,0.856700,0.0,0.0,0.0,0.00,57.0
equip_damage,6442.0,99480.622012,578835.512038,0.0,9692.5,18598.5,48080.75,27140000.0
track_damage,6442.0,56559.612387,248617.427913,0.0,50.0,4884.5,28000.00,8711005.0
total_killed,6442.0,0.021111,0.193485,0.0,0.0,0.0,0.00,8.0
total_injured,6442.0,0.233313,4.244915,0.0,0.0,0.0,0.00,241.0
max_speed,6442.0,15.636914,20.199808,0.0,4.0,7.0,20.00,545.0
total_damage,6442.0,165611.800683,739242.169582,100.0,17562.5,33000.0,90000.00,31538754.0
engineers_onduty,6442.0,1.022198,0.473457,0.0,1.0,1.0,1.00,4.0
conductors_onduty,6442.0,0.838715,0.487290,0.0,1.0,1.0,1.00,5.0
brakemen_onduty,6442.0,0.282210,0.492285,0.0,0.0,0.0,1.00,3.0
region,6442.0,4.761565,1.856678,1.0,3.0,5.0,6.00,8.0
signal_type,6442.0,1.647625,0.477747,1.0,1.0,2.0,2.00,2.0