## Prep Sandbox

In [1]:
import pandas as pd
import numpy as np
import os
from acquire import get_hwyrail, get_equiprail
from prepare import missing_zero_values_table, max_reduce_equip_cols, concat_date_time, prep_equip_df, prep_hwy_df

In [2]:
hwydf = get_hwyrail()

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
pd.set_option('display.max_rows', 500)

In [6]:
hwydf.head(2)

,AMTRAK,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,IMO3,RR3,INCDTNO3,DUMMY1,CASINJRR,GXID,YEAR,MONTH,DAY,TIMEHR,TIMEMIN,AMPM,STATION,COUNTY,STATE,REGION,DUMMY2,CITY,HIGHWAY,VEHSPD,TYPVEH,VEHDIR,POSITION,RREQUIP,RRCAR,TYPACC,HAZARD,TEMP,VISIBLTY,WEATHER,TYPEQ,TYPTRK,TRKNAME,TRKCLAS,NBRLOCOS,NBRCARS,TRNSPD,TYPSPD,TRNDIR,SIGNAL,LOCWARN,WARNSIG,LIGHTS,STANDVEH,TRAIN2,MOTORIST,VIEW,VEHDMG,DRIVER,INVEH,TOTKLD,TOTINJ,TOTOCC,INCDRPT,JOINTCD,TYPRR,DUMMY3,CASKLDRR,DUMMY4,CROSSING,NARRLEN,DUMMY5,YEAR4,DIVISION,PUBLIC,CNTYCD,STCNTY,HZMRLSED,HZMNAME,HZMQNTY,HZMMEAS,SIGWARNX,WHISBAN,DRIVAGE,DRIVGEN,PLEONTRN,SSB1,SSB2,USERKLD,USERINJ,RREMPKLD,RREMPINJ,PASSKLD,PASSINJ,NARR1,NARR2,NARR3,NARR4,NARR5,SUBDIV,ROADCOND,VIDEOT,VIDEOU,Unnamed: 103
0,NaN,12,3,UP,0312RS009,NaN,NaN,,,12.0,3.0,UP,0312RS009,NaN,0,753122J,12,3,16,9,15,AM,WOODBRIDGE,SAN JOAQUIN,6,7,NaN,LODI,CHURCH & LOCKFORD,0.0,A,4,2,1,1,1,4,50,2,3,1,4,LEAD,1,1,4,10.0,E,4,1,1,1,2,2,2,4,8,1000.0,3,1,0,0,1,2,1,1,NaN,0,,507,56,NaN,2012,,Y,77,06C077,4,NaN,NaN,NaN,,,49,1,3,,,0,0,0,0,0,0,HIEHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,NaN,NaN,NaN,NaN,WOODBRIDGE,B,1,2,NaN
1,NaN,12,3,UP,0312RS025,NaN,NaN,,,12.0,3.0,UP,0312RS025,NaN,0,752922S,12,3,30,9,35,PM,ACAMPO,SAN JOAQUIN,6,7,NaN,,JAHANT ROAD,0.0,A,4,2,1,1,1,4,60,4,1,1,1,SINGLE MAIN,5,3,59,35.0,E,3,1,1,,2,2,2,4,8,1000.0,3,2,0,0,0,2,1,1,NaN,0,,1030607,117,NaN,2012,,Y,77,06C077,4,NaN,NaN,NaN,,,35,1,2,,,0,0,0,0,0,0,HIGHWAY USER'S ACTIONS: STOPPED ON CROSSING ( ...,D LEFT THE SCENE.,NaN,NaN,NaN,FRESNO SUB,A,1,2,NaN

In [8]:
hwydf.MOTORIST.value_counts()

3    5933
4    4362
1    2439
5    2184
2     965
3     685
7     638
4     460
8     369
1     313
5     290
2     150
7      96
8      52
6      30
       21
0       4
6       4
Name: MOTORIST, dtype: int64

In [ ]:
missing_zero_values_table(hwydf)

In [ ]:
equipdf = get_equiprail()

In [ ]:
equipdf = prep_equip_df(equipdf)

In [ ]:
equipdf.columns.to_list

railroad_company, accident_type, state, temp, visibility, weather, train_speed, train_direction, train_weight, train_type, track_type, front_engines, loadfrght_cars, loadpass_cars, emptyfrght_cars, emptypass_cars, equip_damage, track_damage, cause, caskldrr, casinjrr, total_killed, total_injured, max_speed, total_damage, engineers_onduty, conductors_onduty, brakemen_onduty, region, typrr, rremp_killed, rremp_injured, passengers_killed, passengers_injured, passtrn, lat, long, signal_type, date

equipdf.columns = ['railroad_company', 
                   'accident_type', 
                   'state', 
                   'temp', 
                   'visibility',
                   'weather', 
                   'train_speed', 
                   'train_direction',
                   'train_weight', 
                   'train_type',
                   'track_type', 
                   'front_engines', 
                   'loadfrght_cars',
                   'loadpass_cars', 
                   'emptyfrght_cars',
                   'emptypass_cars', 
                   'equip_damage',
                   'track_damage', 
                   'cause',
                   'caskldrr',
                   'casinjrr', 
                   'total_killed', 
                   'total_injured', 
                   'max_speed', 
                   'total_damage', 
                   'engineers_onduty',
                   'conductors_onduty', 
                   'brakemen_onduty', 
                   'region', 
                   'typrr', 
                   'rremp_killed',
                   'rremp_injured',
                   'passengers_killed',
                   'passengers_injured',
                   'passtrn', 
                   'lat', 
                   'long', 
                   'signal_type',
                   'date']

['AMTRAK','RAILROAD','INCDTNO','YEAR','MONTH','DAY','TIMEHR','TIMEMIN','AMPM','STATION','COUNTY','STATE','REGION','CITY',
 'VEHSPD','TYPVEH','VEHDIR','POSITION','TYPACC','HAZARD','TEMP','VISIBLTY','WEATHER','TYPEQ','TYPTRK','NBRLOCOS','NBRCARS',
 'TRNSPD','TRNDIR','LOCWARN','WARNSIG','LIGHTS','STANDVEH','TRAIN2','MOTORIST','VIEW','VEHDMG','DRIVER','INVEH','TOTKLD',
 'TOTINJ','TOTOCC','CASKLDRR','PUBLIC','CNTYCD','STCNTY','HZMRLSED','HZMNAME','HZMQNTY','WHISBAN','DRIVAGE','DRIVGEN',
 'PLEONTRN','USERKLD','USERINJ','RREMPKLD','RREMPINJ','PASSKLD','PASSINJ','ROADCOND']

In [ ]:
def min_reduce_hwy_cols(df):
    '''
    This function takes in the hwy/rail data frame and drops columns:
        - With 80% of null values
        - Features not inlcuded in this analyis
        - Duplicated information columns

    It returns a single dataframe
    '''
    #Define threshold
    threshold = len(df) * 0.80
    
    #Drop cols with 80% or more missing values
    df = df.dropna(axis=1, thresh=threshold)

    df = df[['RAILROAD','INCDTNO','YEAR','MONTH','DAY','TIMEHR','TIMEMIN','AMPM','STATION','COUNTY','STATE','REGION','CITY',
 'VEHSPD','TYPVEH','VEHDIR','POSITION','TYPACC','HAZARD','TEMP','VISIBLTY','WEATHER','TYPEQ','TYPTRK','NBRLOCOS','NBRCARS',
 'TRNSPD','TRNDIR','LOCWARN','WARNSIG','LIGHTS','STANDVEH','TRAIN2','MOTORIST','VIEW','VEHDMG','DRIVER','INVEH','TOTKLD',
 'TOTINJ','TOTOCC','PUBLIC','CNTYCD','WHISBAN','DRIVAGE','DRIVGEN',
 'PLEONTRN','USERKLD','USERINJ','RREMPKLD','RREMPINJ','PASSKLD','PASSINJ','ROADCOND']]

    return df

In [ ]:
hwydf = min_reduce_hwy_cols(hwydf)

In [ ]:
missing_zero_values_table(hwydf)

In [ ]:
def max_reduce_hwy_cols(df):
    '''
    This function takes in the equipemnet rail data frame and drops collumns:
        - With 60% of null values
        - Features not inlcuded in this analyis
        - Duplicated information columns

    It returns a single dataframe
    '''
    #Define threshold
    threshold = len(df) * 0.60
    
    #Drop cols with 80% or more missing values
    df = df.dropna(axis=1, thresh=threshold)

    df = df[['RAILROAD','INCDTNO','YEAR','MONTH','DAY','TIMEHR','TIMEMIN','AMPM','STATION','COUNTY','STATE','REGION','CITY',
 'VEHSPD','TYPVEH','VEHDIR','POSITION','TYPACC','HAZARD','TEMP','VISIBLTY','WEATHER','TYPEQ','TYPTRK','NBRLOCOS','NBRCARS',
 'TRNSPD','TRNDIR','LOCWARN','WARNSIG','LIGHTS','STANDVEH','TRAIN2','MOTORIST','VIEW','VEHDMG','DRIVER','INVEH','TOTKLD',
 'TOTINJ','TOTOCC','PUBLIC','CNTYCD','WHISBAN','DRIVAGE','DRIVGEN',
 'PLEONTRN','USERKLD','USERINJ','RREMPKLD','RREMPINJ','PASSKLD','PASSINJ','ROADCOND']]

    return df

In [ ]:
hwydf = max_reduce_hwy_cols(hwydf)

In [ ]:
hwydf.columns.shape

In [ ]:
def concat_date_time(df):
    '''
    This function takes in the equip rail data frame and:
    - Concatenates the date time values as a datetime object
    - Drops the original columns for date and time
        
    It returns a single dataframe
    
    '''
    
    #Concatenate datetime columns
    df['date'] = pd.to_datetime(df.MONTH.astype(str)+' '+df.DAY.astype(str)+' '+df.YEAR.astype(str)+' '+df.TIMEHR.astype(str)+':'+df.TIMEMIN.astype(str)+' '+df.AMPM.astype(str))
    
    #Drop original date time columns
    df.drop(columns={'YEAR', 'MONTH', 'DAY', 'TIMEHR', 'TIMEMIN', 'AMPM'}, inplace=True)
    
    return df

In [ ]:
hwydf = concat_date_time(hwydf)

In [ ]:
hwydf.shape

In [ ]:
def general_hwy_clean(df):
    '''
    This function takes in the equip df and prepares it for analysis by:
        - lowercasing all column titles
        - convert lat and long to string dtypes
        -

    It returns a single dataframe
        
    '''
    #lowecase all column titles
    df.columns= df.columns.str.lower()

    #Drop null values
    #drop null values
    df = df.dropna(axis=0)

    return df

In [ ]:
hwydf = general_hwy_clean(hwydf)

In [ ]:
hwydf.shape

In [ ]:
def set_hwy_index(df):
    '''
    This function takes in the equipment dataframe and sets the index
    to the unique incident number after first dropping the observations
    with duplicate incident numbers
    '''

    #Filters out observations with unique incident numbers 
    counts = df['incdtno'].value_counts()
    df = df[~df['incdtno'].isin(counts[counts > 1].index)]

    #set the index
    df.set_index('incdtno', drop=True, inplace=True)

    return df

In [ ]:
hwydf = set_hwy_index(hwydf)

In [ ]:
hwydf.shape

In [ ]:
hwydf.columns.to_list()

In [ ]:
def rename_hwy_columns(df):
    
    '''
    This function will rename the columns. Only run after max_reduce, concat_date_time, general_equip_clean,
    and set_equip_index
    
    '''  
    
    #rename columns
    
    df.columns = ['railroad_company',
                  'station',
                  'county',
                  'state',
                  'region',
                  'city',
                  'vehicle_speed',
                  'vehicle_type',
                  'vehicle_direction',
                  'position',
                  'accident_type',
                  'hazmat_entity',
                  'temp',
                  'visibility',
                  'weather',
                  'train_type',
                  'track_type',
                  'front_engines',
                  'railcar_quantity',
                  'train_speed',
                  'train_direction',
                  'warning_location',
                  'warning_signal',
                  'lights',
                  'standveh',
                  'other_train',
                  'motorist_action',
                  'view_obstruction',
                  'vehicle_damage',
                  'driver_fate',
                  'vehicle_occupied',
                  'total_killed',
                  'total_injured',
                  'vehicle_occupants',
                  'ispublic_crossing',
                  'fips',
                  'whistle_ban',
                  'driver_age',
                  'driver_gender',
                  'train_occupants',
                  'user_killed',
                  'user_injured',
                  'rail_killed',
                  'rail_injured',
                  'train_pass_killed',
                  'train_pass_injured',
                  'road_condtions',
                  'date']
    
    return df

In [ ]:
def prep_hwy_df(df):
    '''
    This function takes in the equipment rail data frame
    and applies the prepare and cleaning functions to it so that it is ready
    for analysis.

    It returns a single dataframe
    '''

    #Reduce columns
    df = max_reduce_hwy_cols(df)

    #Deal with date time columsn
    df = concat_date_time(df)

    #general cleaning
    df = general_hwy_clean(df)

    #set the index
    df = set_hwy_index(df)

    #rename columns
    df = rename_hwy_columns(df)
    
    return df

In [3]:
hwydf = prep_hwy_df(hwydf)

In [4]:
hwydf.shape

(12181, 48)

In [5]:
hwydf.railroad_company.value_counts()

UP      2959
CSX     2825
NS      2715
BNSF    2274
ATK      956
KCS      452
Name: railroad_company, dtype: int64

In [ ]:
['railroad_company','station','county','state','region','city',
 'vehicle_speed','vehicle_type','vehicle_direction','position','accident_type','hazmat_entity','temp','visibility','weather','train_type','track_type',
 'front_engines','railcar_quantity','train_speed','train_direction','warning_location','warning_signal','lights','standveh','other_train','motorist_action',
 'view_obstruction','vehicle_damage','driver_fate','vehicle_occupied','total_killed','total_injured','vehicle_occupants', 'ispublic_crossing','fips','whistle_ban',
 'driver_age','driver_gender','train_occupants','user_killed','user_injured','rail_killed','rail_injured','train_pass_killed','train_pass_injured','road_condtions']

In [ ]:
hwydf.columns.to_list()